html {
  --clr-stroke-400: #000000;
  --clr-stroke-400-hsl: 0, 0%, 0%;

  --clr-secondary-400: hsl(239, 43%, 41%);
  --clr-secondary-400-hsl: 239, 43%, 41%;

  --clr-accent-400: #fefc52;

  --clr-fill-400: #ffffff;
  --clr-fill-hsl: 0, 0%, 100%;
}
