html {
  /* FILL */
  --clr-fill-400: #fff;
  --clr-fill-hsl: 0, 0%, 100%;

  /* STROKE */
  --clr-stroke-100: #777;
  --clr-stroke-200: #555;
  --clr-stroke-400: #000;
  --clr-stroke-400-hsl: 0, 0%, 0%;

  /* SECONDARY */
  --clr-secondary-400: hsl(239, 43%, 41%);
  --clr-secondary-400-hsl: 239, 43%, 41%;

  /* ACCENT */
  --clr-accent-400: #fefc52;
}
